<% if (alerts.error)  { %> 
    <% alerts.error.forEach(eachError => { %>
        <div class="altert alert-error">
            <%= msg %>
        </div>
    <% }); %> 
<% } %> 

<% if (alerts.error)  { %> 
    <% alerts.error.forEach(eachError => { %>
        <div class="altert alert-success">
            <%= msg %>
        </div>
    <% }); %> 
<% } %> 

